body { margin: 0; padding: 0; color: white; font-family: celibri; }

.header { background: url( coding-825x500.jpg );
          height: 450px; background-repeat: no-repaet;
          background-size: cover; }

.h-1 { max-width: 1000px; margin: auto; padding: 20px 0; }

.h-1 h1 { font-size: 44px; color: #00e1ff; }

.h-1 p { font-weight: bold; font-size: 60px; color: #ffe600; }

.h-1 a { text-decoration: none; color: #ffffff; background: #4ab1c3; 
         font-size: 30px; padding: 4px 20px; border-radius: 30px;
         margin: 10px; }