body{
    margin: 0px auto; width: 480px; 
    img src="";
}
.header{
    color: rgb(255, 255, 255);
}
.section{
    border: 2px; color:  rgb(255, 255, 255);
}                       

.section2{
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.section3, .section4, .section5, .section6, .section7{
    font-family: 'Nanum Gothic', sans-serif;
}

