body {margin: 0 auto; text-align: center;}
table {width: 60%; margin: 0 auto; text-align: center;}
td {margin: 0 auto; text-align: center; width:140px;}
img {width:150px; height:200px; border-radius:10px;}
#left_bar{background-color: rgb(48, 189, 184); float:left; width:16%; height:3700px; opacity:0.7;}
#right_bar{background-color: rgb(48, 189, 184); float:right; width:16%; height:3700px; opacity:0.7; z-index: 1;}
#div0, #div1, #div2, #div3, #div4, #div5 {width: 60%; margin: 0 auto; text-align: center}
#button1, #button2 {width:150px; background-color: rgb(48, 189, 184); border: none; color:#fff; 
                                                  padding: 5px 0; text-align: center; text-decoration: none; display: inline-block; 
                                                  font-size: 15px; margin: 2px; cursor: pointer; border-radius: 5px;}
#button2 {color:rgba(255, 0, 0, 0.76)}
#button1:hover, #button2:hover {background:#fff; color:rgb(48, 189, 184);
}
hr{margin:0;}
.phone, .email, .linkedin{font-size:30px;}
.floating {
    z-index: 2;
    position: fixed;
    right: 50%;
    top: 180px;
    margin-right: -720px;
    text-align: center;
    width: 120px;
    background-color: rgb(46, 211, 205); float:right; width:10%; height:520px; opacity:0.7; border-radius: 5px;}


.floating2 {
    z-index: 2;
    position: fixed;
    left: 3%;
    top: 180px;
    margin-right: -720px;
    text-align: center;
    width: 120px;
    background-color: rgb(46, 211, 205); float:left; width:10%; height:180px; opacity:0.7; border-radius: 5px;}


.floating3 {
    z-index: 2;
    position: fixed;
    left: 3%;
    top: 400px;
    margin-right: -720px;
    text-align: center;
    width: 120px;
    background-color: rgb(46, 211, 205); float:left; width:10%; height:90px; opacity:0.7; border-radius: 5px;}


